In [1]:
print('hello world')

hello world

In [2]:
# definindo uma funcao
def primeiraFunc():
    print('hello world')

In [3]:
primeiraFunc()

hello world

In [6]:
#definindo uma funcao
def primeiraFunc():
    nome = 'bob'
    print('hello %s' %nome)

In [7]:
primeiraFunc()

hello bob

In [11]:
# definindo funcao com parametro
def segundaF(nome):
    print('hello %s'%nome)

In [12]:
segundaF('aluno')

hello aluno

In [9]:
# funcao para imprimir numeros
def imprimeN():
    for i in range(0,5):
        print('numero' + str(i))

In [10]:
imprimeN()

numero0
numero1
numero2
numero3
numero4

In [33]:
# funcao para somar numero
def addn(n1,n2):
    print('primeiro numero: ' + str(n1))
    print('primeiro numero: ' + str(n2))
    print('soma: ' , n1 + n2)

In [34]:
#chamando a funcao e passando parametros
addn(45, 3)

primeiro numero: 45
primeiro numero: 3
soma:  48

In [35]:
addn(4, 7)

primeiro numero: 4
primeiro numero: 7
soma:  11

In [43]:
#funcoes com numero variavel de argumentos
def printvarInfo(arg1, *vartuple):
    print("parametro passado foi: ", arg1)
    
    for item in vartuple:
        print("parametro variavel: ", item)
    return

In [ ]:
printvarInfo(10)

parametro passado foi:  10

In [47]:
printvarInfo('chocolate', 'morango')

parametro passado foi:  chocolate
parametro variavel:  morango

In [49]:
printvarInfo('alice', 'nogueira', 'brasil')

parametro passado foi:  alice
parametro variavel:  nogueira
parametro variavel:  brasil

In [37]:
## Escopo de variavel - local e global

# variavel global
var_global =  10

# funcao 
def multiplica_numeros(n1,n2):
    var_global= n1 * n2
    print(var_global)

In [38]:
multiplica_numeros(5,25)
print(var_global)

125
10

In [41]:
# variavel global
var_global = 10 

def multiplica_numeros(n1,n2):
    var_local = n1*n2
    print(var_local)

In [42]:
multiplica_numeros(5,25)
print(var_local)

125

NameError: name 'var_local' is not defined