In [2]:
# Tuplas
tupla1 = ("letras", 23,"gato", 9.2, "python")

#imprimindo tupla
tupla1

('letras', 23, 'gato', 9.2, 'python')

In [3]:
#tuplas nao suportam append()
tupla1.append("banana")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
#tuplas nao suportam delete em um item especifico 
del tupla1["gato"]

TypeError: 'tuple' object does not support item deletion

In [6]:
#tuplas podem ter u munico item
tupla1 = ("sorvete")

tupla1

'sorvete'

In [7]:
tupla1 = ("letras", 23,"gato", 9.2, "python")

In [8]:
tupla1[0]

'letras'

In [9]:
#verificando o comprimento da tupla
len(tupla1)

5

In [10]:
#slicing da mesma forma que listas
tupla1[1:]

(23, 'gato', 9.2, 'python')

In [11]:
tupla1.index("gato")

2

In [12]:
#tuplas nao suportam atribuicao de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [14]:
#deletando tupla
del tupla1

NameError: name 'tupla1' is not defined

In [15]:
tupla1

NameError: name 'tupla1' is not defined

In [16]:
#criando uma tupla
tupla2 = ('a', 'b', 'c')
tupla2

('a', 'b', 'c')

In [17]:
#usando a funcao list() para converter uma tupla em lista
lista_t2 = list(tupla2)

In [18]:
lista_t2

['a', 'b', 'c']

In [21]:
lista_t2.append('d')

lista_t2

['a', 'b', 'c', 'd', 'd']

In [22]:
#usando a funcao tuple() para converter uma lista em tupla
tupla2 = tuple(lista_t2)

In [23]:
tupla2

('a', 'b', 'c', 'd', 'd')